{% extends "qa/base.html" %}

{% block title %} Главная {% endblock %}


{% block content %}
    <nav>
        <ul class="pagination">
            {% for p in paginator.page_range %}
                {% if p == page.number %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
            <a href="{{ paginator.baseurl }}{{ p }}">
                {{ p }}
            </a>

            </li>
            {% endfor %}
        </ul>
    </nav>

    <div>
        {% for q in questions %}
            <p>
                <a href="{{ q.get_url }}">
                    {{ q }}
                </a>
            </p>
        {% endfor %}
    </div>

{% endblock %}